<div class="main">
    <div class="todo-cont">
        <label for="todo-input">To-Do</label>
        <input type="text" name="todo-input" id="todo-input" [(ngModel)]="name" placeholder="Add a todo..." />
        <input type="button" value="Save" (click)="saveToDo()">
      </div>
      
      <div class="todos-cont">
        <ol type="1">
          @if (todos.length>0){ 
              <!-- @for (todo of todos; track todo) {
                  <li>
                      <span>{{ todo }}</span>
                      <button (click)="deleteTodo(todo)">X</button>
                    </li>
              } -->
          <li *ngFor="let todo of todos">
              <span>{{ todo }}</span>
              <button (click)="deleteTodo(todo)">X</button>
          </li>
          }
        </ol>
      </div>
</div>

